
body {
	color:			black;
	text-align:		center;
	font:			large;
}

div {
	width:			100%;
}

table {
	border-width:	0px;
	border-color:	green;
	border-style:	solid;
}

table.celltable {
	border-width:	0px;
	border-color:	gray;
	border-style:	solid;
}

table.celltable td {
	padding-top:	0px;
	padding-right:	0px;
	padding-bottom:	0px;
	padding-left:	0px;
}

#meals {
	font-size:		small;
}

#meals td {
	padding-top:	3px;
	padding-right:	3px;
	padding-bottom:	3px;
	padding-left:	3px;
}

.date {
	float:			right;
	width:			40%;
}

.header {
	width:			100%;
}

.title {
	padding-top:		80px;
	padding-bottom:		50px;
	font-weight:		bold;
}

.maincont {
	width:			100%;
	border-color:	black;
	border-style:	solid;
}

.maincont thead td, .maincont th {
	text-align:		left;
	border-color:	black;
	border-style:	solid;
	font-weight:	bold;
}

th {
	text-align:			left;
	border-color:		black;

	font-weight:		bold;
	background-color:	#aaaaaa;
	padding-top:		5px;
	padding-bottom:	 	5px;
}

.maincont tfoot td {
	font-weight:		bold;
	background-color: #dddddd;
}

.spec {
	font-weight:		bold;
}

.maincont tbody tr.noalt {
	background-color: #ffffff;
}

.maincont tbody tr.alt {
	background-color: #eeeeee;
}

/*.maincont tbody td {
	text-align:		left;
	border-width:	0px;
	border-color:	black;
	border-style:	solid;
	font-weight:	bold;
}*/

.maincont tfooter td {
	text-align:		left;
	border-color:	black;
	border-style:	solid;
	font-weight:	bold;
}