
body {
	color:			black;
	text-align:		center;
	font:			large;
}

div {
	width:			100%;
}

table {
	border-width:	0px;
	border-color:	green;
	border-style:	solid;
}

#meals {
	font-size:		small;
}

#meals td {
	padding-top:	3px;
	padding-right:	3px;
	padding-bottom:	3px;
	padding-left:	3px;
}

.date {
	float:			right;
	width:			40%;
}

.header {
	width:			100%;
}

.title {
	padding-top:		80px;
	padding-bottom:		50px;
	font-weight:		bold;
}

.maincont {
	width:			100%;
	border-color:	black;
	border-style:	solid;
}

.maincont thead td {
	text-align:		left;
	border-color:	black;
	border-style:	solid;
	font-weight:	bold;
}
