
body {
	color:			black;
	text-align:		center;
	font:			large;
}

div {
/* 	width:			100%; */
}

table {
	border-width:	0px;
	border-color:	green;
	border-style:	solid;
}

table.celltable {
	border-width:	0px;
	border-color:	gray;
	border-style:	solid;
}

table.celltable td {
	padding-top:	0px;
	padding-right:	0px;
	padding-bottom:	0px;
	padding-left:	0px;
}

.date {
	float:			right;
/* 	width:			40%; */
}

.header {
/* 	width:			100%; */
}

.title {
	padding-top:		80px;
	padding-bottom:		50px;
	font-weight:		bold;
}

.maincont {
	font-size:			small;
/* 	width:				100%; */
	border-color:		black;
	border-style:		solid;
	text-align:			right;
}

.maincont th {
	text-align:			left;
	border-color:		black;
	border-style:		solid;
	font-weight:		bold;
	background-color:	#aaaaaa;
	padding-top:		3px;
	padding-bottom:	 	3px;
}

.maincont td {
	padding-top:	2px;
	padding-right:	5px;
	padding-bottom:	2px;
	padding-left:	5px;
}

.maincont thead tr.header {
	background-color: #dddddd;
}

/*.maincont tbody .h_spec {
	width:			10%;
}

.maincont tbody .h_unit {
	width:			10%;
}

.maincont tbody .h_qty {
	width:			10%;
}

.maincont tbody .h_price {
	width:			10%;
}

.maincont tbody .h_costs {
	width:			10%;
}*/

.maincont tbody .spec {
	font-weight:		bold;
	text-align:			left;
	padding-right:		1px;
}

.maincont tbody td {
	text-align:			right;
}

.maincont tbody tr.noalt {
	background-color:	#ffffff;
}

.maincont tbody tr.alt {
	background-color:	#eeeeee;
}

.maincont tfoot td {
	font-weight:		bold;
	background-color:	#dddddd;
}

.maincont .empty {
	background-color:	#ffffff;
}